@model FlightManager.Models.Flight
@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager
@inject Microsoft.AspNetCore.Identity.SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneTakingOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneTakingOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneLanding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneLanding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneUniqueNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneUniqueNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PilotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PilotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessCapacity)
        </dd>
        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Employee")))
        {
            <dt class="col-sm-2">
                Reservations
            </dt>
            <dd class="col-sm-10">
                <hr class="mb-0" />
                <div>
                    <ul class="list-group list-group-flush ">
                        @foreach (var (reservation, index) in Model.Reservations.Select((value, i) => (value, i)))
                        {
                            <li class="list-group-item">@(index + 1). 
                                <a asp-action="Details" asp-controller="Reservations" asp-route-id="@reservation.ReservationId">@reservation.Email</a>, 
                                confirmed: @reservation.IsConfirmed, passengers: @reservation.Passengers.Count()</li>
                        }
                    </ul>
                </div>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FlightId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
